@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Playfair Display SC", serif;

}
html
{
    font-size: 65.8%;
}
:root{
    --main-color: #0047AB;
    --text-color:#0D98BA;
    --text-color-green: #2AAA8A;

}
.top_header .out_box
{
    width: 100%;
    background: var(--main-color);
}
.top_header .out_box .inside_box
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--text-color-green);
    padding: 1rem 0;
    clip-path: polygon(8% 0%,92% 0%,96% 100%,5% 100%); /* LEARN THIS */

}
.out_box .inside_box .col_1
{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 13rem;

}
.out_box .inside_box .col_1 span
{
    font-size: 1.5rem;
}
.out_box  .inside_box  .col_1  span i
{
    color: var(--main-color);
    padding-right: 0.5rem; 
    font-size: 1.3rem;
}
.out_box .inside_box .col_2
{
    display: flex;
    gap: 1rem;
    align-items:  center;
    justify-content: center;
    color: #fff;
    margin-right: 13rem;
}
.out_box .inside_box .col_2 a,
.out_box .inside_box .col_2 span,
.out_box .inside_box .col_2 .social i
{
    color: #fff;
    font-size: 1.5rem;
    transition: 0.4s;
}
.out_box .inside_box .col_2 .social
{
    display: flex;
    gap: 0.9rem;
}
.out_box .inside_box .col_2  a i{
    padding-right:  0.5rem;
}
.out_box .inside_box .col_2 .social i:hover,
.out_box .inside_box .col_2 a:hover{
    color: var(--main-color);
}

@media(max-width:1150px)
{
    .out_box .inside_box .col_1
    {
        margin-left: 8rem;
    }
    .out_box .inside_box .col_2
    {
        margin-right: 8rem;
    }
}
@media(max-width:991px)
{
    .top_header
    {
        display: none;
    }
}

.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 4.5%;
    background: #fff;
    box-shadow: 0 0 5px rgba(190, 190, 190 , 0.5),
    0 0 10px rgba(190, 190, 190, 0.5);
    z-index: 111;
    transition: 0.4s ease;
}

.header .logo img
{
    width: 350px;
}
.header nav{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
nav .navbar ul li
{
    padding: 2.5rem 0.3rem;
}
nav .navbar ul li a:hover,
nav .navbar ul li a.active{
    color: var(--text-color-green);
}

nav .navbar .navlinks
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
nav .navbar .navlinks li a{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}
nav .others
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .others i{
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}
nav .others .btn
{
    position: relative;
    color: var(--text-color-green);
    background: var(--main-color);
    padding: 1.5rem 1.7rem;
    font-size: 1.6rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}
nav .others .btn i,
nav .others .btn i:hover{
    color: #fff;
    padding-right: 0.5rem;
}
nav .others .btn:hover
{
    background-color: var(--text-color-green);
    color: #fff;
}
#menubtn
{
    font-size: 2.5rem;
}

nav .navbar ul li .drop_down
{
    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 180px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 0.5rem 0 0;
    display: none;
}
nav .navbar ul li:hover .drop_down
{
    display: flex;
}
nav .navbar ul li .drop_down li{
    border-bottom: 1px solid rgba(190, 190 , 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}
nav .navbar ul li .drop_down li a{
    
    font-size: 1.5rem;
    transition: 0.4s ease;
}
nav .navbar ul li .drop_down li:hover a{
    font-size: 1.6rem;
    padding-left: 0.5rem;
    color: var(--text-color-green);
}
.drop_down li .drop_down_2
{
    width: 180px;
    position: absolute;
    left: 180px;
    margin-top: -3rem;
    display: flex;
    flex-direction:column ;
    align-items: left;
    text-align: justify;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    z-index: 111;
    overflow: hidden;
    display: none;
}
.drop_down li:hover .drop_down_2{
    display: flex;
}

.home .slide
{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}
.home .slide.slide_one
{
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) , rgba(0,0,0,0.8) , rgba(255,0,0)) , url(./img/home/bg-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .slide.slide_two
{
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) , rgba(0,0,0,0.8) , rgba(235,235,37)) , url(./img/home/bg-hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .slide.slide_three
{
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) , rgba(0,0,0,0.8) , rgba(43,171,235)) , url(./img/home/bg-hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide .col_1{
    flex: 1 1 20rem;
}
.home .slide .col_2
{
    flex: 1  1 40rem;
    padding-top: 3rem;
}
.home .slide .col_1 h4
{
    font-size: 2.5rem;
    color: var(--text-color-green);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 3rem;
}
.home .slide .col_1 h1{
    color: #fff;
    font-size: 5.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.home .slide .col_1 span{
    color: var(--main-color);
}
.home .slide .col_1 p{
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-top: 2rem;
}
.home .slide .col_2 img{
    width: 100%;
    height: 40rem;
}
.home .slide .col_1 .button
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 4rem;
}
.home .slide .col_1 .button button{
    padding: 1.8rem 2.8rem 1.8rem 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.home .slide .col_1 .button button i{
    font-size: 2.5rem;
    position: absolute;
    top: 33%;
    right: -1rem;
    transform: translate(-40%);
}
.home .slide .col_1 .button button.about
{
    background: var(--main-color);
    color: #fff;
}
.home .slide .col_1 .button button.about:hover
{
    background: var(--text-color);
    color: #fff;
}
.search
{
    position: relative;
    padding: 0 16rem;
    background: #f7f2f2;
}
.search .find
{
    max-width: 1200px;
    width: 100%;
    padding: 2.5rem;
    position: absolute;
    top: -7rem;
    z-index: 111;
    background: #fff;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
                0 0 10px rgba(190, 190, 190, 0.5);
    overflow: hidden;            
}
.find .find_row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 5rem;
}
.find h3{
    font-size: 2.7rem;
    letter-spacing: 2px;
    padding-bottom: 2rem;
    font-weight: 500;
    color: var(--text-color-green);

}
.find .find_row h4{
    font-size: 1.7rem;
    color: var(--text-color);
    padding-bottom: 1.5rem;
}
.find .find_row select{
    border: 1px solid #646161;
    font-size: 1.5rem;
    width: 200px;
    font-weight: 500;
    height: 45px;
    padding: 0 1rem;
    color: #646161;
}
.find .find_row select option{
    padding: 0.5rem;
    border-bottom: 1px solid #646161;
}
.search .search_btn button{
    background: var(--main-color);
    margin-top: 4rem;
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s ease;

}
.search .search_btn button i{
    padding-right: 0.5rem;
}
.search .search_btn button:hover{
   color: var(--text-color-green); 
}




section{
    padding: 2.5rem 16rem;
    background: #f7f2f2;
}
.market
{
    padding-top: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.market .col_3
{
    flex: 1 1 20rem;
    position: relative;
}
.market .col_3 img.one{
    
    height: 45rem;
}
.market .col_4
{
    flex: 1 1 20rem;
}
.market .col_3 .service
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #141622;
    padding: 1rem;
    border-radius: 20px;
}
.market .col_3 .service span{
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
}
.market .col_4 h4{
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 1px;
    font-size: 500;
    padding-bottom: 1rem ;
}
.market .col_4 h4 i{
    padding-right: 0.5rem;
}
.market .col_4 h3{
    font-size: 4rem;
    color: var(--text-color-green);
    padding-bottom: 2rem;
    text-transform: capitalize;
}
.market .col_4 h3 span{
    color: var(--main-color);
}
.market .col_4 p.text{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-bottom: 1rem;
}
.market .col_4 button{
    position: relative;
    margin-top: 2.5rem;
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
}
.market .col_4 button i{
    position: absolute;
    top: 20px;
    font-size: 2rem;
}
.market .col_4 button:hover{
    background: var(--text-color-green);
}






.counter
{
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background: url(./img/home/counter/counterbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.counter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
}
.counter .container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 0.5rem;
}
.counter .container span.num{
    padding: 1rem 0;
    font-size: 4.6rem;
    font-weight: 600;
    color: #fff;
}
.counter .container span.text{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}
.counter .container span.text i{
    padding-right: 0.5rem;
}


.arrivals
{
    text-align: center;
    padding-top: 7rem;
}
section h4{
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;

}

section h4 i{
    padding-right: 0.5rem;

}
section h1{
    margin-bottom: 6rem;
    padding-bottom:2.5rem ;
    font-size: 4.7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--text-color-green);
    position: relative;
}
section h1::before{
    content: '';
    position: absolute;
    background: #fff;
    border: 4px solid var(--main-color);
    bottom: 0;
    width: 100px;
    height: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);

}
section h1::after{
    content: '';
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    bottom: 1.1rem;
    width: 20px;
    height: 10px;
    border-radius: 40px;
    background: var(--text-color-green);
}
section h1 span{
    color: var(--main-color);
}

.arr_row .arr_col{
    padding: 1rem;
    box-shadow: 0 0 5px #646161;
    background: #fff;
    border-radius: 10px;
    text-align: justify;
}
.arr_row .arr_col .image
{
    width: 100%;
    height: 75rem;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease;
}
.arr_row .arr_col .image img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease; 
}
.arr_row .arr_col .image:hover img{
    transform: scale(1.3);
}
.arr_row .arr_col h5{
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--text-color-green);
}
.arr_row .arr_col .rating{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}
.arr_col .rating .stars i{
    color: var(--main-color);
    font-size: 1.4rem;
}
.arr_col .rating .review span{
    font-size: 1.3rem;
    font-weight: 600;
    color: #646161;
}
.arr_col .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.arr_col .features span i{
    color: var(--text-color-green);
    padding-right: 0.3rem;
}
.arr_col .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arr_col .price p{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.arr_col .price button{
    background: var(--main-color);
    padding: 0.8rem 2.8rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.arr_col .price button:hover{
    background-color: var(--text-color);
}
.arrivals button.load{
    margin-top: 4rem;
    padding: 1.4rem 3.5rem;
    background:var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.4s ease;
}
.arrivals button.load i{
    padding-left: 0.5rem;
}
.arrivals button.load:hover{
    background: var(--text-color);
}




.type{
    text-align: center;
    padding-top: 7rem ;
    padding-bottom:3rem;
    background: #fff;
}
.type .type_row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem;
}
.type_row .type_col
{
    width: 100%;
    padding: 2rem;
    background: #f7f2f2;
    border-radius: 12px;
    box-shadow: 0 0 5px #646161;
    transition: 0.4s ease;
}
.type_row .type_col:hover
{
    transform: translateY(-10px);
}
.type_row .type_col img{
    width: 100%;
    height: 16rem;
}
.type_row .type_col h5{
    font-size: 1.8rem;
    font-weight: 600;
    color: #646161;
}
.type_row .type_col:hover h5{
    color: var(--text-color-green);
}


.play{
    width: 100%;
    min-height: 80vh;
    background: url(./img/type/bg-type.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.play .play_btn{
    background: #fff;
    color: var(--main-color);
    font-size: 5rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: relative;
    border-radius: 50%;
}

.play .play_btn::before,
.play .play_btn::after{
    content: '';
    position: absolute;
    border: 6px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    left: -20px;
    bottom: -20px;
    right: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity: 1;
}
@keyframes animate {
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
    }
}
.play .play_btn::after{
    animation-delay: 0.5s;
}





.quality{
    width: 100%;
    background: url(./img/quality/hero-1.jpeg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
}
.quality .qu1_row
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
}
.quality .qu1_row .col_1{
    flex: 1 1 10rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.quality .qu1_row .col_1.center
{
    padding-top: 6rem ;
}
.quality .qu1_row .col_2{
    flex: 1 1 30rem;
}
.quality .qu1_row .col_2 img{
    width: 100%;
    height: 35rem;
}
.qu1_row .col_1 .qu1_one{
    border-radius: 12px;
    background: var(--main-color);
    padding: 1.6rem;
}
.col_1 .qu1_one .number
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.col_1 .qu1_one .number h2{
    font-size: 6rem;
    color: var(--text-color-green);
}
.col_1 .qu1_one h5{
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: rgb(8, 243, 8);
    font-weight: 600;
}
.col_1 .qu1_one p{
    font-size: 1.3rem;
    color: greenyellow;
}
.qu1_row .col_2 h4{
    color: var(--main-color);
    font-size: 4.5rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'poppins' , sans-serif;
}
.qu1_row .col_2 h4 i{
    padding-right: 0.5rem;
}
.qu1_row .col_2 h3{
    padding: 10rem;
    font-size: 4.2rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgb(13, 250, 5);
}
.qu1_row .col_2 h3 span{
    color: red;
}




.brand
{
    text-align: center;
    padding-top: 7rem;
}
.brand .brand_row
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;

}
.brand_row .brand_col{
    position: relative;
    padding: 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 5px #646161;
    transition: 0.4s;
}
.brand_row .brand_col:hover{
    transform: translateY(-10px);
}
.brand_row .brand_col img{

    width: 100%;
    height: 14rem;
}
.brand_row .brand_col h5{
    font-size: 1.6rem;
    color: var(--text-color-green);
    font-weight: 600;
}






.client{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.client .slide{
    background: #fff;
    box-shadow: 0 0 2px #646161;
    padding: 1rem;
}
.client .slide img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--text-color);
    padding: 1rem;
}
.client .slide h5{
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 0.5rem;
}
.client .slide span{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.client .slide p{
    color: var(--text-color-green);
    padding: 1.4rem;
}
.client .slide i{
    color: var(--main-color);
    font-size: 1.4rem;
}

.footer{
    background-image: url(./img/home/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}
.footer .footer_row{
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.footer_row .footer_col img{
   
    margin-bottom: 1rem;
}
.footer_row .footer_col p{
    color: yellow;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}
.footer_row .footer_col span{
    display: block;
    color: #d91818;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.footer_row .footer_col span i{
    background: white;
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 18px;
}
.footer_row .footer_col h5{
    color: #fff;
    font-size: 1.9rem;
    margin: 1rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}

.footer_row .footer_col h5::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background: #8a0404;
    bottom: 0;
}
.footer_row .footer_col h5::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    border-radius: 3px;
    background: #00be4f;
    bottom: 0;
    left: 40px;
}

.footer_row .footer_col a{
    display: block;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}
.footer_row .footer_col a:hover{
    padding-left: 5px;
    color: var(--main-color);
}
.footer_row .footer_col input{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding-left: 10px;
    color: #141622;
    margin-bottom: 1.5rem;
}
.footer_row .footer_col button{
    background: var(--text-color-green);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
}
.footer_row .footer_col button:hover{
    background: var(--text-color);
    border: 2px solid #fff;
}

.footer .footer_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 16rem;
    background: #3a3737;
    position: relative;
    text-align: center;
}
.footer .footer_bottom{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;

}
.footer .footer_bottom p span{
    color: var(--text-color-green);
}
.footer .footer_bottom .social{
    position: absolute;
    background: var(--main-color);
    padding: 1.3rem 30rem;
    right: 0;
    bottom: 0;
    clip-path: polygon(8% 0% , 100% 0% , 100% 100% , 5% 100%);
}
.footer .footer_bottom .social i{
    color: var(--main-color);
    background: #fff;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}
.footer .footer_bottom .social i:hover{
    transform: scale(1.1);
}






/* ---------------------------------Imported Car Css---------------------------------------------------------------------- */

.inventory
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/HD-wallpaper-skyline-import-model-sexy-car.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.inventory h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory .link a:hover{
    color: var(--text-color-green);
}
.inventory .link span,
.inventory .link p{
    font-size: 1.5rem;
    color: #fff;
}





.arrivals.show .arr_row_2_grid.row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}


.arrivals.show{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.arrivals.show .col_1{
    flex: 1 1 2rem;
    width: 200px;
    text-align: justify;
}
.arrivals.show .col_1 h5{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
}
.arrivals.show .col_1 h5::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 3px;
    border-radius: 3px;
    background: var(--main-color);


}

.arrivals.show .col_1 .searchbox{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 1rem;
}
.arrivals.show .col_1 .searchbox .searchbar{
    border: 1px solid var(--text-color);
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.6rem;
}
.arrivals.show .col_1 .searchbox i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.8rem;
    color: var(--text-color-green);
}
.arrivals.show .col_1 .checkbox
{
    color: var(--text-color);
    font-size: 1.6rem;
}
.arrivals.show .col_1 .checkbox input{
    margin-right: 0.5rem;
    accent-color: var(--text-color-green);
    margin-bottom: 1.5rem;
}

.arrivals.show .col_1 .show_col{
    background: #fff;
    padding: 2rem 1.5rem;
    text-align: justify;
    box-shadow: 0 0 2px #646161;
    margin-bottom: 1rem;


}
.arrivals.show .col_2{
    flex: 1 1 60rem ;
}
.arrivals.show .col_2 .image{
    height: 16rem;
}
.arrivals.show .col_1 h5{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
}

/* .col_2 .arr_row_2_grid
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
} */
.arr_row_2_grid .arr_col_2_grid{
    padding: 1rem;
    box-shadow: 0 0 5px #646161;
    background: #fff;
    border-radius: 10px;
    text-align: justify;
}
.arr_row_2_grid .arr_col_2_grid .image
{
    width: 100%;
    height: 25rem;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease;
}
.arr_row_2_grid .arr_col_2_grid h5{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--text-color-green);
}
.arr_row_2_grid .arr_col_2_grid .image img{
    position: relative;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease; 
}
.arr_row_2_grid .arr_col_2_grid .image:hover img{
    transform: scale(1.3);
}
.arr_row_2_grid .arr_col h5{
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--text-color-green);
}
.arr_row_2_grid .arr_col_2_grid .rating{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}
.arr_col_2_grid .rating .stars i{
    color: var(--main-color);
    font-size: 1.4rem;
}
.arr_col_2_grid .rating .review span{
    font-size: 1.3rem;
    font-weight: 600;
    color: #646161;
}
.arr_col_2_grid .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.arr_col_2_grid .features span i{
    color: var(--text-color-green);
    padding-right: 0.3rem;
}
.arr_col_2_grid .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arr_col_2_grid .price p{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.arr_col_2_grid .price button{
    background: var(--main-color);
    padding: 0.8rem 2.8rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.arr_col_2_grid .price button:hover{
    background-color: var(--text-color);
}
.arrivals button.load{
    margin-top: 4rem;
    padding: 1.4rem 3.5rem;
    background:var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.4s ease;
}
.arrivals button.load i{
    padding-left: 0.5rem;
}
.arrivals button.load:hover{
    background: var(--text-color);
}

.arrivals.show .col_2 .head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px #646161;
    margin-bottom: 2rem;
}
.arrivals.show .col_2 .head span{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
}
.arrivals.show .col_2 .head i{
    font-size: 2rem;
    margin-right: 0.3rem;
    color: var(--text-color);
}
.arrivals.show .col_2 .head i.grid{
    color: var(--text-color);
    padding: 5px;
    border: 1px solid var(--main-color);
    cursor: pointer;

}
.arrivals.show .col_2 .head select{
    border: 1px solid var(--main-color);
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 4px;
}


.inventory_2
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/luxarypic.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_2 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_2 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_2 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_2 .link a:hover{
    color: var(--text-color-green);
}
.inventory_2 .link span,
.inventory_2 .link p{
    font-size: 1.5rem;
    color: #fff;
}


.inventory_3
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/modicar.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_3 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_3 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_3 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_3 .link a:hover{
    color: var(--text-color-green);
}
.inventory_3 .link span,
.inventory_3 .link p{
    font-size: 1.5rem;
    color: #fff;
}

.inventory_4
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/suvpic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_4 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_4 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_4 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_4 .link a:hover{
    color: var(--text-color-green);
}
.inventory_4 .link span,
.inventory_4 .link p{
    font-size: 1.5rem;
    color: #fff;
}

.inventory_5
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/sedan.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_5 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_5 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_5 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_5 .link a:hover{
    color: var(--text-color-green);
}
.inventory_5 .link span,
.inventory_5 .link p{
    font-size: 1.5rem;
    color: #fff;
}


.inventory_6
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/hatchback.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_6 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_6 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_6 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_6 .link a:hover{
    color: var(--text-color-green);
}
.inventory_6 .link span,
.inventory_6 .link p{
    font-size: 1.5rem;
    color: #fff;
}


.inventory_7
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/about.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_7 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_7 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_7 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_7 .link a:hover{
    color: var(--text-color-green);
}
.inventory_7 .link span,
.inventory_7 .link p{
    font-size: 1.5rem;
    color: #fff;
}


.team
{
    text-align: center;
    padding-top: 7rem;
}
.team .team_row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.team_row .col_1{
    flex-basis: 300px;
    box-shadow:  0 0 5px #d8d3d3;
    background: #fff;
    padding-bottom: 1rem;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s ease;
}
.team_row .col_1 img{
    width: 100%;
    height: 27rem;
    border-radius: 10px;
}
.team_row .col_1 h6{
    color: var(--text-color);
    padding: 1rem 0;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.team_row .col_1 span{
    color: var(--text-color-green);
    font-size: 1.6rem;
    font-weight: 600;
}


.inventory_8
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/service.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_8 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_8 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_8 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_8 .link a:hover{
    color: var(--text-color-green);
}
.inventory_8 .link span,
.inventory_8 .link p{
    font-size: 1.5rem;
    color: #fff;
}





.services{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.services .service_row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.service_row .service_col{
    box-shadow: 0 0 5px #d8d3d3;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    text-align: justify;
}
.service_row .service_col:hover{
    transform: translateY(10px);
}
.service_row .service_col .image{
    width: 100%;
    height: 22rem;
    border-radius: 10px;
    position: relative;
}
.service_row .service_col .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}


.service_row .service_col .image img.icon{
    position: absolute;
    bottom: -30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.service_row .service_col h3{
    padding-top: 20px;
    font-size: 18px;
    color: var(--text-color);
    padding-bottom: 10px;
}
.service_row .service_col p{
    font-size: 14px;
    color: var(--text-color-green);
    padding-bottom: 20px;
}

.inventory_9
{
    width: 100%;
    min-height: 96vh;
    background: url(./img/home/Inventory/imported/service/contact.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.inventory_9 h2{
    font-size: 3.5rem;
    color: rgba(244, 248, 4, 0.933)

}
.inventory_9 .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--main-color);
    padding-top: 2rem;
}
.inventory_9 .link a{
    color: var(--main-color);
    font-size: 1.5rem;
}
.inventory_9 .link a:hover{
    color: var(--text-color-green);
}
.inventory_9 .link span,
.inventory_9 .link p{
    font-size: 1.5rem;
    color: #fff;
}

.contact .contact_row{

    padding: 4.5rem 12.5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.contact_row .contact_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fddddf;
    padding: 30px;
    border-radius: 8px;
    transition: 0.5s ease;
}
.contact_row .contact_col:hover{
    transform: translateY(-10px);
}
.contact_row .contact_col img{
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.contact_row .contact_col h6{
    padding: 6px 0;
    font-size: 20px;
    color: var(--main-color);
}
.contact_row .contact_col p{
    font-size: 14px;
    color: var(--text-color-green);
}

.contact_form
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form_name
{
    margin-top: 2rem;
    display: flex;
}
.form_name input{
    border: 2px solid var(--main-color)
}
.contact_form input[type="text"]
{
    width: 45%;
}
.touch_col form{
    background: var(--text-color-green);
}
.touch_col input,
.touch_col textarea{
    width: 95%;
    padding: 4rem;
    border: 2px solid var(--main-color);
    margin: 0.7rem 1rem;
}
.btn
{
    padding: 1.8rem 2.8rem 1.8rem 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;

}
.btn:hover{
    background: var(--text-color);
}

.contact .touch_row{
    padding: 4.5rem 12.5%;
    display: flex;
    gap: 20px;
}
.touch_row .touch_col img{
    width: 100%;
    height: 70vh;
    border-radius: 20px 0% 15% 50%;
}
.touch_row .touch_col h5{
    font-size: 27px;
    color: var(--main-color);
}
.touch_col h5{
    text-align: center;
    margin-bottom: 2rem;
}