@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Playfair Display SC", serif;

}
html
{
    font-size: 65.8%;
}
:root{
    --main-color: #0047AB;
    --text-color:#0D98BA;
    --text-color-green: #2AAA8A;

}
.top_header .out_box
{
    width: 100%;
    background: var(--main-color);
}
.top_header .out_box .inside_box
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--text-color-green);
    padding: 1rem 0;
    clip-path: polygon(8% 0%,92% 0%,96% 100%,5% 100%); /* LEARN THIS */

}
.out_box .inside_box .col_1
{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 13rem;

}
.out_box .inside_box .col_1 span
{
    font-size: 1.5rem;
}
.out_box  .inside_box  .col_1  span i
{
    color: var(--main-color);
    padding-right: 0.5rem; 
    font-size: 1.3rem;
}
.out_box .inside_box .col_2
{
    display: flex;
    gap: 1rem;
    align-items:  center;
    justify-content: center;
    color: #fff;
    margin-right: 13rem;
}
.out_box .inside_box .col_2 a,
.out_box .inside_box .col_2 span,
.out_box .inside_box .col_2 .social i
{
    color: #fff;
    font-size: 1.5rem;
    transition: 0.4s;
}
.out_box .inside_box .col_2 .social
{
    display: flex;
    gap: 0.9rem;
}
.out_box .inside_box .col_2  a i{
    padding-right:  0.5rem;
}
.out_box .inside_box .col_2 .social i:hover,
.out_box .inside_box .col_2 a:hover{
    color: var(--main-color);
}

@media(max-width:1150px)
{
    .out_box .inside_box .col_1
    {
        margin-left: 8rem;
    }
    .out_box .inside_box .col_2
    {
        margin-right: 8rem;
    }
}
@media(max-width:991px)
{
    .top_header
    {
        display: none;
    }
}

.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 4.5%;
    background: #fff;
    box-shadow: 0 0 5px rgba(190, 190, 190 , 0.5),
    0 0 10px rgba(190, 190, 190, 0.5);
    z-index: 111;
    transition: 0.4s ease;
}

.header .logo img
{
    width: 350px;
}
.header nav{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
nav .navbar ul li
{
    padding: 2.5rem 0.3rem;
}
nav .navbar ul li a:hover,
nav .navbar ul li a.active{
    color: var(--text-color-green);
}

nav .navbar .navlinks
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
nav .navbar .navlinks li a{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}
nav .others
{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .others i{
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}
nav .others .btn
{
    position: relative;
    color: var(--text-color-green);
    background: var(--main-color);
    padding: 1.5rem 1.7rem;
    font-size: 1.6rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}
nav .others .btn i,
nav .others .btn i:hover{
    color: #fff;
    padding-right: 0.5rem;
}
nav .others .btn:hover
{
    background-color: var(--text-color-green);
    color: #fff;
}
#menubtn
{
    font-size: 2.5rem;
}

nav .navbar ul li .drop_down
{
    position: absolute;
    top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 180px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 0.5rem 0 0;
    display: none;
}
nav .navbar ul li:hover .drop_down
{
    display: flex;
}
nav .navbar ul li .drop_down li{
    border-bottom: 1px solid rgba(190, 190 , 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}
nav .navbar ul li .drop_down li a{
    
    font-size: 1.5rem;
    transition: 0.4s ease;
}
nav .navbar ul li .drop_down li:hover a{
    font-size: 1.6rem;
    padding-left: 0.5rem;
    color: var(--text-color-green);
}
.drop_down li .drop_down_2
{
    width: 180px;
    position: absolute;
    left: 180px;
    margin-top: -3rem;
    display: flex;
    flex-direction:column ;
    align-items: left;
    text-align: justify;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    z-index: 111;
    overflow: hidden;
    display: none;
}
.drop_down li:hover .drop_down_2{
    display: flex;
}

.home .slide
{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
}
.home .slide.slide_one
{
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) , rgba(0,0,0,0.8) , rgba(255,0,0)) , url(./img/home/bg-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .slide.slide_two
{
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) , rgba(0,0,0,0.8) , rgba(235,235,37)) , url(./img/home/bg-hero-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .slide.slide_three
{
    
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) , rgba(0,0,0,0.8) , rgba(43,171,235)) , url(./img/home/bg-hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide .col_1{
    flex: 1 1 20rem;
}
.home .slide .col_2
{
    flex: 1  1 40rem;
    padding-top: 3rem;
}
.home .slide .col_1 h4
{
    font-size: 2.5rem;
    color: var(--text-color-green);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 3rem;
}
.home .slide .col_1 h1{
    color: #fff;
    font-size: 5.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.home .slide .col_1 span{
    color: var(--main-color);
}
.home .slide .col_1 p{
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-top: 2rem;
}
.home .slide .col_2 img{
    width: 100%;
    height: 40rem;
}
.home .slide .col_1 .button
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 4rem;
}
.home .slide .col_1 .button button{
    padding: 1.8rem 2.8rem 1.8rem 2rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.home .slide .col_1 .button button i{
    font-size: 2.5rem;
    position: absolute;
    top: 33%;
    right: -1rem;
    transform: translate(-40%);
}
.home .slide .col_1 .button button.about
{
    background: var(--main-color);
    color: #fff;
}
.home .slide .col_1 .button button.about:hover
{
    background: var(--text-color);
    color: #fff;
}
.search
{
    position: relative;
    padding: 0 16rem;
    background: #f7f2f2;
}
.search .find
{
    max-width: 1200px;
    width: 100%;
    padding: 2.5rem;
    position: absolute;
    top: -7rem;
    z-index: 111;
    background: #fff;
    box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
                0 0 10px rgba(190, 190, 190, 0.5);
    overflow: hidden;            
}
.find .find_row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 5rem;
}
.find h3{
    font-size: 2.7rem;
    letter-spacing: 2px;
    padding-bottom: 2rem;
    font-weight: 500;
    color: var(--text-color-green);

}
.find .find_row h4{
    font-size: 1.7rem;
    color: var(--text-color);
    padding-bottom: 1.5rem;
}
.find .find_row select{
    border: 1px solid #646161;
    font-size: 1.5rem;
    width: 200px;
    font-weight: 500;
    height: 45px;
    padding: 0 1rem;
    color: #646161;
}
.find .find_row select option{
    padding: 0.5rem;
    border-bottom: 1px solid #646161;
}
.search .search_btn button{
    background: var(--main-color);
    margin-top: 4rem;
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s ease;

}
.search .search_btn button i{
    padding-right: 0.5rem;
}
.search .search_btn button:hover{
   color: var(--text-color-green); 
}




section{
    padding: 2.5rem 16rem;
    background: #f7f2f2;
}
.market
{
    padding-top: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.market .col_3
{
    flex: 1 1 20rem;
    position: relative;
}
.market .col_3 img.one{
    
    height: 45rem;
}
.market .col_4
{
    flex: 1 1 20rem;
}
.market .col_3 .service
{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #141622;
    padding: 1rem;
    border-radius: 20px;
}
.market .col_3 .service span{
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
}
.market .col_4 h4{
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 1px;
    font-size: 500;
    padding-bottom: 1rem ;
}
.market .col_4 h4 i{
    padding-right: 0.5rem;
}
.market .col_4 h3{
    font-size: 4rem;
    color: var(--text-color-green);
    padding-bottom: 2rem;
    text-transform: capitalize;
}
.market .col_4 h3 span{
    color: var(--main-color);
}
.market .col_4 p.text{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-bottom: 1rem;
}
.market .col_4 button{
    position: relative;
    margin-top: 2.5rem;
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
}
.market .col_4 button i{
    position: absolute;
    top: 20px;
    font-size: 2rem;
}
.market .col_4 button:hover{
    background: var(--text-color-green);
}






.counter
{
    width: 100%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    background: url(./img/home/counter/counterbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.counter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    text-align: center;
}
.counter .container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 0.5rem;
}
.counter .container span.num{
    padding: 1rem 0;
    font-size: 4.6rem;
    font-weight: 600;
    color: #fff;
}
.counter .container span.text{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}
.counter .container span.text i{
    padding-right: 0.5rem;
}


.arrivals
{
    text-align: center;
    padding-top: 7rem;
}
.arrivals h4{
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;

}

.arrivals h4 i{
    padding-right: 0.5rem;

}
.arrivals h1{
    padding-bottom: 4rem;
    font-size: 4.7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--text-color-green);
}